body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #e79ce4;
}

header {
    background-color: #ffa703;
    color: rgb(93, 255, 179);
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.section-img {
    width: 300px;
    display: block;
    margin: 15px 0;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
